.login-form-container {
    background-color: var(--green-color);
    width: 400px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 7px;
}

.login-form-container__header {
    font-size: calc(24px + (34 - 24) * ((100vw - 300px) / (1920 - 300)));
    text-align: center;
    color: var(--white-color);
}

.login-form-container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login-form-container__label {
    width: 100%;
    color: var(--white-color);
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
}

.change-password-form-container__input {
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    background-color:  var(--light-grey-color);
    color: var(--black-color);
    outline: none;
    width: 100%;
    border: none;
    padding: 2px 2px;
}

.change-password-form-container__btn {
    text-transform: uppercase;
    color: var(--white-color);
    background-color: var(--dark-green-color);
    border: none;
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    cursor: pointer;
    padding: 5px 5px;
}

@media only screen and (max-width: 600px) {
    .change-password-form-container {
      width: 250px;
    }
  }