<div *ngIf='isLoading' class='loading-spinner-container'>
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="change-password-form-container" *ngIf='!isLoading'>
    <h1 class="change-password-form-container__header">Change password</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="change-password-form-container__form">
        <label class="change-password-form-container__label">Old password</label>
        <input formControlName="OldPassword" type="password" class="change-password-form-container__input">
        <label class="change-password-form-container__label">New password</label>
        <input formControlName="NewPassword" type="password" class="change-password-form-container__input">
        <label class="change-password-form-container__label">Confirm new password</label>
        <input formControlName="ConfirmPassword" type="password" class="change-password-form-container__input">
        <button type="submit" class="change-password-form-container__btn">Change password</button>
    </form>
</div>
