<div class='admin-details-container'>
    <div class='admin-details-container__header'>
        <h1 class='admin-details-container__heading'>Admin details</h1>
    </div>
    <div class='admin-details-container__details'>
        <span class='admin-details-container__text'><span class='admin-details-container__property'>First name:</span> {{admin.firstName}}</span>
        <span class='admin-details-container__text'><span class='admin-details-container__property'>Last name:</span> {{admin.lastName}}</span>
        <span class='admin-details-container__text'><span class='admin-details-container__property'>Email:</span> {{admin.email}}</span>
    </div>
    <div class='admin-details-container__btns-wrapper'>
        <button class='admin-details-container__btn' (click)='onBack()'>Back</button>
    </div>
</div>
