<header class="header">
    <a class="header__logo" routerLink= '/user/home' roterLinkActive='active' >{{headerLogo}}</a>
        <nav class="header__navigation">
            <ul class="header__list">
                <li><a class="header__link" routerLink= '/user/home' roterLinkActive='active'>Home</a></li>
                <li><a class="header__link" routerLink= '/user/trips' roterLinkActive='active' *ngIf='isAdmin'>Trips</a></li>
                <li><a class="header__link" routerLink= '/user/trips' roterLinkActive='active' *ngIf='isAdmin'>Admins</a></li>
                <li><a class="header__link" routerLink= '/user/trips' roterLinkActive='active' *ngIf='isAdmin'>Basic users</a></li>
                <li><a class="header__link" routerLink= '/user/account' roterLinkActive='active' *ngIf='isBasicUser'>My trips</a></li>
                <li><a class="header__link" routerLink= '/user/account' roterLinkActive='active' *ngIf='isBasicUser'>My account</a></li>
                <li><button class="header__btn" (click)="onLogout()" *ngIf='isBasicUser || isAdmin'>Logout</button></li>
            </ul>
        </nav>
</header>