.header {
    background-color: var(--green-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
}

.header__logo {
    font-size: calc(24px + (40 - 24) * ((100vw - 300px) / (1920 - 300)));
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
}

.header__navigation {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--green-color);
}

.header__navigation--responsive-navigation-visible {
    display: block;
}

.header__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.header__link {
    color: var(--white-color);
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
}

.header__btn {
    outline: none;
    border: none;
    color: var(--white-color);
    background-color: var(--green-color);
    text-transform: uppercase;
    padding: 5px 0;
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    cursor: pointer;
}

.header__responsive-navigation-icon {
    color: var(--white-color);
    font-size: calc(24px + (30 - 24) * ((100vw - 300px) / (1920 - 300)));
}

.header__dropdown-btn {
    outline: none;
    border: none;
    color: var(--white-color);
    background-color: var(--green-color);
    text-transform: uppercase;
    padding: 5px 0;
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
    cursor: pointer;
    width: 100%;
}

.header__dropdown:hover .header__dropdown-content {
    display: flex;
}

.header__dropdown-content {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.header__dropdown-link {
    color: var(--white-color);
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
}

@media only screen and (min-width: 600px) {
    .header__navigation {
        position: static;
        background-color: transparent;
        display: block;
        width: auto;
    }

    .header__list {
        flex-direction: row;
    }

    .header__list-item {
        margin-right: 15px;
    }

    .header__responsive-navigation-icon {
        display: none;
    }
}