<header class="header">
    <a class="header__logo" routerLink= '/user/home' roterLinkActive='active' >{{headerLogo}}</a>
        <nav class="header__navigation">
            <ul class="header__list">
                <li><a class="header__link" routerLink= '/admin/home' roterLinkActive='active'>Home</a></li>
                <li><a class="header__link" routerLink= '/admin/admins' roterLinkActive='active'>Admins</a></li>
                <li><a class="header__link" routerLink= '/admin/basic-users' roterLinkActive='active'>Basic users</a></li>
                <li><a class="header__link" routerLink= '/admin/trips' roterLinkActive='active'>Trips</a></li>
                <li><button class="header__btn" (click)="logout()">Logout</button></li>
            </ul>
        </nav>
</header>