/* .header
{
    background-color: #3aafa9;
    color: #feffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
}


.header__logo
{
    font-size: 3.5vh;
    display: block;
    text-decoration: none;
    color: #feffff;
}

.header__list
{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header__list-item
{
    margin: 1vh 1vw;
}

.header__link
{
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 1vh 1vw;
    color: #feffff;
    font-size: 2vh;
}

.header__btn
{
    text-transform: uppercase;
    margin:  1vh 1vw;
    color: #feffff;
    background-color: #3aafa9;
    border: none;
    font-size: 2vh;
    cursor: pointer;
}
 */
