:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}