<div class='trip-sensor-data-item'>
    <div class='trip-sensor-data-item__sensor-value'><span class='trip-sensor-data-item__property-name'>Upload date:</span> {{sensorData.uploadDate}}</div>
    <div class='trip-sensor-data-item__sensor-value'><span class='trip-sensor-data-item__property-name'>Latitude:</span> {{sensorData.latitude}}</div>
    <div class='trip-sensor-data-item__sensor-value'><span class='trip-sensor-data-item__property-name'>Longitude:</span> {{sensorData.longitude}}</div>
    <div class='trip-sensor-data-item__sensor-value'><span class='trip-sensor-data-item__property-name'>Accelerometer X-axis value:</span> {{sensorData.accelerometerX}}</div>
    <div class='trip-sensor-data-item__sensor-value'><span class='trip-sensor-data-item__property-name'>Accelerometer Y-axis value:</span> {{sensorData.accelerometerY}}</div>
    <div class='trip-sensor-data-item__sensor-value'><span class='trip-sensor-data-item__property-name'>Accelerometer Z-axis value:</span> {{sensorData.accelerometerZ}}</div>
    <div class='trip-sensor-data-item__sensor-value'><span class='trip-sensor-data-item__property-name'>Gryoscope X-axis value:</span> {{sensorData.gyroscopeX}}</div>
    <div class='trip-sensor-data-item__sensor-value'><span class='trip-sensor-data-item__property-name'>Gryoscope Y-axis value:</span> {{sensorData.gyroscopeY}}</div>
    <div class='trip-sensor-data-item__sensor-value'><span class='trip-sensor-data-item__property-name'>Gryoscope Z-axis value:</span> {{sensorData.gyroscopeZ}}</div>
    <div class='trip-sensor-data-item__sensor-value'><span class='trip-sensor-data-item__property-name'>Magnotometer X-axis value:</span> {{sensorData.magneticFieldX}}</div>
    <div class='trip-sensor-data-item__sensor-value'><span class='trip-sensor-data-item__property-name'>Magnotometer Y-axis value:</span> {{sensorData.magneticFieldY}}</div>
    <div class='trip-sensor-data-item__sensor-value trip-sensor-data-item__sensor-value--last-sensor-value'><span class='trip-sensor-data-item__property-name'>Magnotometer Z-axis value:</span> {{sensorData.magneticFieldZ}}</div>
</div>