<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container__form">
        <h1 class="form-container__header">TrackMe</h1>
        <label class="form-container__label">Email</label>
        <input formControlName="email" type="text" class="form-container__input">
        <label class="form-container__label">Password</label>
        <input formControlName="password" type="password" class="form-container__input">
        <button type="submit" class="form-container__btn">Login</button>
    </form>
</div>
