:host {
    flex-shrink: 0;
}

.footer {
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 10px 5px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__paragraph {
    text-align: center;
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
}