.footer {
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 10px 5px;
}

.footer__paragraph {
    text-align: center;
    font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1920 - 300)));
}