.admin-list-container {
    width: 100%;
}

.admin-list-container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px var(--green-color) solid;
    padding: 5px 0;
}

.admin-list-container__heading {
    font-size: calc(24px + (34 - 24) * ((100vw - 300px) / (1920 - 300)));
}

.admin-list-container__btn {
    text-transform: uppercase;
    color: var(--white-color);
    border: none;
    font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1920 - 300)));
    cursor: pointer;
    padding: 5px 5px;
    background-color: #3aafa9;
}

.admin-list-container__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
}