<div class="form-container">
    <h1 class="form-container__header">TrackMe</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="form-container__form">
        <label class="form-container__label">First name</label>
        <input formControlName="FirstName" type="text" class="form-container__input">
        <label class="form-container__label">Last name</label>
        <input formControlName="LastName" type="text" class="form-container__input">
        <label class="form-container__label">Phone number</label>
        <input formControlName="PhoneNumber" type="text" class="form-container__input">
        <label class="form-container__label">Email</label>
        <input formControlName="Email" type="text" class="form-container__input">
        <label class="form-container__label">Password</label>
        <input formControlName="Password" type="password" class="form-container__input">
        <label class="form-container__label">Confirm password</label>
        <input formControlName="ConfirmPassword" type="password" class="form-container__input">
        <button type="submit" class="form-container__btn">Register</button>
    </form>
</div>
