<div class='create-admin-form-container'>
    <h1 class='create-admin-form-container__heading'>Create admin</h1>
    <form [formGroup]='createAdminForm' (ngSubmit)="onSubmit()" class='create-admin-form-container__form'>
        <label class="create-admin-form-container__label">First name</label>
        <input formControlName="FirstName" type="text" class="create-admin-form-container__input" placeholder="Wayne">
        <label class="create-admin-form-container__label">Last name</label>
        <input formControlName="LastName" type="text" class="create-admin-form-container__input" placeholder="Rooney">
        <label class="create-admin-form-container__label">Email</label>
        <input formControlName="Email" type="text" class="create-admin-form-container__input" placeholder="email@email.com">
        <label class="create-admin-form-container__label">Password</label>
        <input formControlName="Password" type="password" class="create-admin-form-container__input">
        <label class="create-admin-form-container__label">Confirm password</label>
        <input formControlName="ConfirmPassword" type="password" class="create-admin-form-container__input">
        <button type="submit" class="create-admin-form-container__btn">Create</button>
    </form>
    <button class="create-admin-form-container__btn" (click)='goBack()'>Back</button>
</div>

