<div *ngIf='isLoading' class='loading-spinner-container'>
    <app-loading-spinner></app-loading-spinner>
</div>
<div class='basic-user-details-container'>
    <div class='basic-user-details-container__header'>
        <h1 class='basic-user-details-container__heading'>Basic user details</h1>
    </div>
    <div class='basic-user-details-container__details'>
        <div class='basic-user-details-container__detail-text'><span class='admin-details-container__property-name'>First name:</span> {{basicUser.firstName}}</div>
        <div class='basic-user-details-container__detail-text'><span class='admin-details-container__property-name'>Last name:</span> {{basicUser.lastName}}</div>
        <div class='basic-user-details-container__detail-text'><span class='admin-details-container__property-name'>Phone number:</span> {{basicUser.phoneNumber}}</div>
        <div class='basic-user-details-container__detail-text'><span class='admin-details-container__property-name'>Email:</span> {{basicUser.email}}</div>
    </div>
    <div class='basic-user-details-container__btns-wrapper'>
        <button class='basic-user-details-container__btn' (click)='onBack()'>Back</button>
    </div>
</div>
