<div class="container" *ngIf="basicUser">
    <h1 class="container__header">Account details</h1>
        <label class="container__label">First name</label>
        <input class="container__input" [(ngModel)]="basicUser.firstName" type="text">
        <label class="container__label">Last name</label>
        <input class="container__input" [(ngModel)]="basicUser.lastName" type="text">
        <label class="container__label">Phone number</label>
        <input class="container__input" [(ngModel)]="basicUser.phoneNumber" type="text">
        <label class="container__label">Email</label>
        <input class="container__input" [(ngModel)]="basicUser.email" type="email">
        <button (click)="updateBasicUser()" class="container__btn" >Save</button>
</div>
