/* .container
{
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    background-color: #def2f1;
    padding: 2vh 2vw;
    margin-top: 5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #3aafa9 2px solid;
}

.container__header
{
    color:  #17252A;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 5vh;
}

.container__input
{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    height: 2.5vh;
    width: 100%;
    background-color:  #feffff;
    color: #17252A;
}

.container__label
{
    color: #17252A;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    font-size: 2vh;
    text-align: left;
    width: 100%;
}

.container__btn
{
    text-transform: uppercase;
    color: #feffff;
    background-color: #2B7A78;
    border: none;
    font-size: 2vh;
    cursor: pointer;
    padding: 0.5vh 0.5vw;
    margin: 0.5vh 0;

}
 */
