<header class="user-header">
    <a class="user-header__logo" routerLink= 'registration' roterLinkActive='active' >{{headerLogo}}</a>
        <nav class="user-header__navigation">
            <ul class="user-header__list">
                <li><a class="user-header__link">Home</a></li>
                <li><a class="user-header__link">Trips</a></li>
                <li><a class="user-header__link">Account</a></li>
                <li><a class="user-header__link">Trips</a></li>
                <li><a class="user-header__link">Logout</a></li>
            </ul>
        </nav>
</header>