<header class="user-header">
    <a class="user-header__logo" routerLink= '/user/home' roterLinkActive='active' >{{headerLogo}}</a>
        <nav class="user-header__navigation">
            <ul class="user-header__list">
                <li><a class="user-header__link" routerLink= '/user/home' roterLinkActive='active'>Home</a></li>
                <li><a class="user-header__link" routerLink= '/user/trips' roterLinkActive='active'>Trips</a></li>
                <li><a class="user-header__link" routerLink= '/user/account' roterLinkActive='active'>Account</a></li>
                <li><button class="user-header__btn">Logout</button></li>
            </ul>
        </nav>
</header>