.admin-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.admin-panel-container__heading {
    font-size: calc(24px + (34 - 24) * ((100vw - 300px) / (1920 - 300)));
    text-align: center;
}