<div class="container container--list-container">
    <ul class="container__list">
        <li *ngFor="let trip of trips" class="container__list-item">
          <span class="container__text">{{trip.name}}</span>
          <div>
            <button class="container__btn container__btn--list-container-btn" (click)='showTripDetails(trip)'>Details</button>
            <button class="container__btn container__btn--list-container-btn" (click)='deleteTrip(trip)'>Delete</button>
          </div>
        </li>
    </ul>
  </div>
  