/* You can add global styles to this file, and also import other style files */

*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    
}

body
{
    background-color: #FEFFFF;
}

.header
{
    background-color: #3aafa9;
    color: #feffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
}

.header__logo
{
    font-size: 3.5vh;
    display: block;
    text-decoration: none;
    color: #feffff;
}

.header__list
{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.header__list-item
{
    margin: 1vh 1vw;
}

.header__link
{
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 1vh 1vw;
    color: #feffff;
    font-size: 2vh;
}

.header__btn
{
    text-transform: uppercase;
    margin:  1vh 1vw;
    color: #feffff;
    background-color: #3aafa9;
    border: none;
    font-size: 2vh;
    cursor: pointer;
}

.container
{
    margin-left: auto;
    margin-right: auto;
    padding: 2vh 2vw;
    margin-top: 5vh;
}

.container--form-container
{
    width: 18vw;  
    background-color: #3aafa9;
    text-align: center;
}

.container--account-details-container
{
    width: 20vw;
    background-color: #def2f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #3aafa9 2px solid;
    text-align: center;
}

.container--list-container
{
    width: 50vw;
    text-align: center;
}

.container--details-container 
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 30vw;
    text-align: center;
}

.container--trip-details-container
{
    width: 25vw;
}

.container__form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__header
{
    color: #feffff;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 5vh;
}

.container__header--account-details-header
{
    color:  #17252A;
}

.container__header--trip-details-header
{
    border-bottom: 5px solid #3aafa9;
    padding-bottom: 3px;
    color:  #17252A;
}

.container__input
{
    margin: 0.5vh 0;
    height: 2.5vh;
    width: 100%;
    background-color:  #def2f1;
    color: #17252A;
}

.container__input--account-details-input
{
    background-color:  #feffff;
    color: #17252A;
}

.container__label
{
    color: #feffff;
    margin: 0.5vh 0;
    font-size: 2vh;
    text-align: left;
    width: 100%;
}

.container__label--account-details-label
{
    color: #17252A;
}

.container__label--details-label
{
    color: #17252A;
    font-size: 3vh;
    margin: 1vh 0;
    padding: 0.5vh 0;
    border-bottom: 2px solid #3aafa9;
} 

.container__btn
{
    text-transform: uppercase;
    color: #feffff;
    background-color: #2B7A78;
    border: none;
    font-size: 2vh;
    cursor: pointer;
    padding: 0.5vh 0.5vw;
    margin: 0.5vh 0;

}

.container__btn--list-btn
{
    background-color: #3aafa9;
    margin-left: 0.2vw;
    margin-top: 0;
    margin-bottom: 0;
}

.container__btn--details-btn
{
    background-color: #3aafa9;
}

.container__btns-wrapper
{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
}

.container__link
{
    text-decoration: none;
    color: #feffff;
    margin: 0.5vh 0;
    font-size: 2vh;
}

.container__list
{
    list-style: none;   
}

.container__list-item
{
    margin: 2vh 0;
    padding: 0.5vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border-bottom: 2px solid #3aafa9;
    
}

.container__list-item--trip-details-list-item
{
    flex-direction: column;
    justify-content: left;
    align-content: space-between;
}

.container__text
{
    font-size: 3vh;
}

.container__text--bold
{
    font-weight: bold;
}